TRANSCRIBE_STORAGE_DIR=storage
TRANSCRIBE_DEVICE=cuda
TRANSCRIBE_MAX_UPLOAD_MB=500
TRANSCRIBE_MIN_FREE_DISK_MB=2048
TRANSCRIBE_MAX_QUEUED_JOBS=100
TRANSCRIBE_BATCH_SIZE=8
TRANSCRIBE_MASK_PII=true
TRANSCRIBE_SPACY_MODEL=ru_core_news_lg
